@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #fbf8f8;
}

.todo {
  width: 500px;
  margin: 0 auto;
}

.todo__logo {
  margin: 250px 0 50px;
  font-size: 100px;
  text-align: center;
}

.todo-container {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.todos {
  width: 500px;
  height: 65px;
  padding: 10px 10px 10px 25px;
  font-size: 36px;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer__item-left {
  margin-top: 20px;
}

.footer__list {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.footer__item {
  height: 50px;
}

.footer__btn {
  display: inline-block;
  padding: 10px;
}

.footer__btn:hover {
  border: 1px solid rgba(255, 165, 0, 0.3);
}

.footer__clear {
  padding: 10px;
  display: inline-block;
}

.footer__clear:hover {
  border: 1px solid rgba(255, 165, 0, 0.3);
}
